@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --red: #ff3860;
    --red-dark: #ff1443;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray5t: #0000005b;
    --gray6: #12181b;
    --gray7: #0b0d0e;
    --font-body: "sofia-pro",sans-serif;
    --font-head: 'Poppins', sans-serif;
    --font-code: "attribute-mono",monospace;
}

body{
    background-color: var(--gray7);
}
header{
    background-color: var(--gray6);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav>button{
    background-color: white;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
}
button.selected{
    background-color: var(--red-light);
}
a{
    color: var(--blue-dark);
}

/* --------------------------------- CONTENT -------------------------------- */

#content{
    min-height: 90vh;
    background-image: url(https://static-cse.canva.com/blob/680117/Tangerine_Set6_12.png);
    background-size:     120%, auto;                      
    background-repeat:   repeat-y;
    background-position: center start;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
}

#contentWrapper{
    background-color: rgb(0,0,0,0.85);
    border-radius: 5px;
    color: white;
    width: clamp(45ch, 50%, 75ch);
    box-sizing: content-box;
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}